<h1>Welcome to Martastic!</h1>
<h2>Martastic uses MARTA's real-time data. If you are reading this message...</h2>
<ul>
  <li>MARTA is closed for the night (around 2 am Eastern Time/07:00 UTC). While there might be a few trains running here and there,
  MARTA does not open back up for service until around 5 am Eastern Time/10:00 UTC.</li>
  <p style="font-style: italic;">- or -</p>
  <li>MARTA's API is down.</li>
</ul>

<h2>Thank you for your interest, please come back later and check out the following while you wait:</h2>
<ul>
  <li><a href="https://www.deka.ooo" style="color: #f9f9f2;">My portfolio page</a></li>
  <li style="margin-top:32px;"><a href="https://github.com/dekadekadeka/" style="color: #f9f9f2;">My GitHub</a></li>
  <li style="margin-top:32px;"><a href="https://www.linkedin.com/in/renee-deka-ambia-96731773/" style="color: #f9f9f2;">My LinkedIn</a></li>
</ul>
