<div data-controller="rail">
  <form class="dropdown-container" id="filter-form">
    <div class="dropdown-container-item" id="station-dropdown">
      <%= render partial: "station_dropdown" %>
    </div>
    <div class="dropdown-container-item" id="destination-dropdown">
      <%= render partial: "destination_dropdown" %>
    </div>
    <div class="dropdown-container-item" id="line-dropdown">
      <%= render partial: "line_dropdown" %>
    </div>
  </form>
  <div class="schedule-container" id="schedule-container">
    <%= render partial: "schedule_card", collection: @rail_data, as: :schedule_card %>
  </div>
</div>
