<div data-controller="rail">
  <div class="dropdown-container">
    <div class="dropdown-container-item" id="station-dropdown">
      <%= render partial: "station_dropdown", object: @arriving_at_stations %>
    </div>
    <div class="dropdown-container-item" id="destination-dropdown">
      <%= render partial: "destination_dropdown", object: @destinations %>
    </div>
    <div class="dropdown-container-item" id="line-dropdown">
      <%= render partial: "line_dropdown", object: @lines %>
    </div>
  </div>
  <div class="schedule-container" id="schedule-container">
    <%= render partial: "schedule_card", collection: @rail_data %>
  </div>
</div>
