/* Application styles */
body {
  background-color: #1a1919;
  color: #f9f9f2;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 32px;
}

/* filter form */

.dropdown-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.dropdown-container-item {
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
  padding: 8px 0px;
}

@media screen and (min-width: 960px) {
  .dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .dropdown-container-item {
    flex-basis: 33%;
    flex-grow: 0;
    max-width: 33%;
    padding: 0px;
  }

  .dropdown-container-item:nth-child(even) {
    padding: 0px 16px;
  }
}

select {
  background: #1a1919;
  border: 2px solid #f9f9f2;
  border-radius: 5px;
  color: #f9f9f2;
  font-size: 16px;
  margin-top: 8px;
  outline: 0;
  padding: 8px;
  width: 100%;
}

/* schedule section */

.schedule-container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 64px;
}

.schedule-card {
  border-radius: 10px;
  color: #1a1919;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.blue {
  background-color: #0b75b3;
  background-image: linear-gradient(to bottom left, #40b1f3, #0b75b3);
}

.gold {
  background-color: #d7aa31;
  background-image: linear-gradient(to bottom left, #ddb852, #d7aa31);
}

.green {
  background-color: #07a550;
  background-image: linear-gradient(to bottom left, #3ef794, #07a550);
}

.red {
  background-color: #cc2329;
  background-image: linear-gradient(to bottom left, #e04a4f, #cc2329);
  color: #f9f9f2;
}

.red img {
  filter: invert(1);
}

.arriving-at {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.arrow {
  align-content: center;
  display: flex;
  font-size: 24px;
  margin-left: 8px;
}

.arrow img {
  margin-left: 8px;
}

.E {
  transform: rotate(0.25turn);
}

.S {
  transform: rotate(0.5turn);
}

.W {
  transform: rotate(0.75turn);
}

.station-name {
  font-size: 40px;
  text-transform: capitalize;
}

.empty {
  text-align: center;
}
